#tdToggle
{
color:#0000FF;
vertical-align: middle;
position:relative;
left:15%;
top:0px;
z-index:1;
}
#tdToggle:hover {
    text-decoration:underline;
}
#tdToggle:active {
    text-decoration:underline;
    color:#800080;
}

#editToggle
{
color:#0000FF;
vertical-align: middle;
position:relative;
left:40%;
top:0px;
z-index:1;
}
#editToggle:hover {
    text-decoration:underline;
}
#editToggle:active {
    text-decoration:underline;
    color:#800080;
}

#exportToggle
{
color:#0000FF;
vertical-align: middle;
position:relative;
left:65%;
top:0px;
z-index:1;
}
#exportToggle:hover {
    text-decoration:underline;
}
#exportToggle:active {
    text-decoration:underline;
    color:#800080;
}

a { cursor: pointer; cursor: hand; }


#canvasElement {
  background-color: #FFF;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvasElement:not(.active):not(.shift) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

#canvasElement:not(.active):not(.shift) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}